<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Awareness
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

<ion-card>
  <ion-card-header>
    <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
    <ion-card-title> Basic protective measures against the new coronavirus </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority. Most people who become infected experience mild illness and recover, but it can be more severe for others. Take care of your health and protect others by doing the following:
  </ion-card-content>
</ion-card>

<ion-card>

<ion-card-header>
  <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/6Ooz1GZsQ70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
  <ion-card-title> Why is it recommended to avoid close contact with anyone who has fever and cough? </ion-card-title>
</ion-card-header>
<ion-card-content>
  There are several ways you can protect yourself from the new coronavirus. One of the recommended measures is to avoid close contact with anyone who has fever and cough. Watch this short video to learn more about it.</ion-card-content>
</ion-card>

<ion-card>

<ion-card-header>
  <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/qF42gZVm1Bo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
  <ion-card-title> How is the new coronavirus affecting people who get it? </ion-card-title>
</ion-card-header>

<ion-card-content>


  As with other respiratory illnesses, infections with 2019-nCoV can cause mild symptoms including runny nose, sore throat, cough and fever. It can be more severe for some persons ,and more rarely, it can be fatal. Watch this short video to find out more.</ion-card-content>
</ion-card>


<ion-card>

<ion-card-header>
  <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
  <ion-card-title> Basic protective measures against the new coronavirus </ion-card-title>
</ion-card-header>

<ion-card-content>


  Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority. Most people who become infected experience mild illness and recover, but it can be more severe for others. Take care of your health and protect others by doing the following:
</ion-card-content>
</ion-card>



  <ion-infinite-scroll >
    <ion-infinite-scroll-content loadingSpinner="bubble">
      <ion-spinner name="dots"></ion-spinner>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>