<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{"BEST PRACTICES.title" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

<ion-card>
  <ion-card-header>
    <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
    <ion-card-title> {{"BEST PRACTICES.CT1" | translate}} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{"BEST PRACTICES.D1" | translate}}
  </ion-card-content>
</ion-card>

<ion-card>

<ion-card-header>
  <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/6Ooz1GZsQ70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
  <ion-card-title>{{"BEST PRACTICES.CT2" | translate}} </ion-card-title>
</ion-card-header>
<ion-card-content>
  {{"BEST PRACTICES.D2" | translate}}
</ion-card-content>
</ion-card>

<ion-card>

<ion-card-header>
  <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/qF42gZVm1Bo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
  <ion-card-title> {{"BEST PRACTICES.CT3" | translate}} </ion-card-title>
</ion-card-header>

<ion-card-content>


  {{"BEST PRACTICES.D3" | translate}}</ion-card-content>
</ion-card>


<ion-card>

<ion-card-header>
  <ion-card-subtitle><iframe width="100%"  src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card-subtitle>
  <ion-card-title> {{"BEST PRACTICES.CT4" | translate}} </ion-card-title>
</ion-card-header>

<ion-card-content>


  {{"BEST PRACTICES.D4" | translate}}
</ion-card-content>
</ion-card>



  <ion-infinite-scroll >
    <ion-infinite-scroll-content loadingSpinner="bubble">
      <ion-spinner name="dots"></ion-spinner>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>