<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
       {{"TEST YOURSELF.title" | translate}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
  
  
  <div *ngIf="index < 6" class="login-form">  
    <ion-button  color="tertiary" [disabled]="index === 0" (click)="return()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <h3 text-center>
      <strong>
        {{"TEST YOURSELF."+questions[index] | translate }}</strong>
    </h3>
    <div text-center *ngIf="message"  >
       <p style="color: red;">{{"TEST YOURSELF".error | translate}}</p> 
    </div>
    <ion-list lines="none">
      <ion-radio-group>
     
      <ion-item>
        <ion-label>       {{"TEST YOURSELF.y" | translate}}
        </ion-label>
        <ion-radio name="resp"
        (click)="choose('Yes')" [checked]="statusYes[index]"></ion-radio>

      </ion-item>

      <ion-item>
        <ion-label>       {{"TEST YOURSELF.n" | translate}}
        </ion-label>
        <ion-radio name="resp"
        (click)="choose('No')"  [checked]="statusNo[index]"></ion-radio>

     
      </ion-item>
    </ion-radio-group>
   
    </ion-list>

    <ion-button mode="ios" (click)="next()" color="tertiary" expand="block"  >
      {{"TEST YOURSELF.button" | translate}}
    </ion-button>
  </div>


  <div *ngIf="index === 6" align="center">
		<br>
		<p >{{"TEST YOURSELF.p" | translate}} <span  style="color:#00CC00; font-size: 24px;">{{score}} </span>{{"TEST YOURSELF.pend" | translate}}</p>
		<p *ngIf="score < 4">{{"TEST YOURSELF.c1" | translate}}</p>
    <p *ngIf="score >= 4">{{"TEST YOURSELF.c2" | translate}}</p>
    <br>
    <ion-button size="large" color="tertiary" (click)="restart()">
			<ion-icon name="repeat"></ion-icon>
			&nbsp; &nbsp; {{"TEST YOURSELF.repeat" | translate}}
		</ion-button>
	</div>
   
</ion-content>
