<!-- <div class="buttons-container" style="position: " >
  <ion-button> {{"STEP"|translate}}   <ion-icon name="arrow-dropright"></ion-icon>  </ion-button>

</div> -->

<ion-header >
  <ion-toolbar style="text-align: center;">

  <ion-button (click)="gohome()"> {{"STEP"|translate}}   <ion-icon name="arrow-dropright"></ion-icon>  </ion-button>



</ion-toolbar>
</ion-header>    

 <ion-content force-overscroll="false">
  <gl-background-video src="assets/background-video/video.mp4" poster="assets/background-video/background-video-image.png"></gl-background-video>
<div style="text-align: center;margin-top: 22em;margin-left: 16em;">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>
  <!-- <div class="page-centered-element" style="bottom: 20;">
  
    <div class="buttons-container" >
      <ion-button> {{"STEP"|translate}}   <ion-icon name="arrow-dropright"></ion-icon>  </ion-button>

    </div>
  </div>
    <!-- <div class="content"> 
      <h1>Welcome</h1>
      <h5>COVID-ASSIST</h5>
      <div class="buttons-container">
        <ion-button>GO</ion-button>
      </div>
      
    </div>
  </div> -->
  <ion-footer style="margin-top: 15em;">
    <ion-toolbar>
      <img src="../../assets/img/1.png" width="25%"> 
      <img src="../../assets/img/2.png"  width="25%">   
      <img src="../../assets/img/3.png" width="25%"> 
      <img src="../../assets/img/5.png" width="25%">    
          
    </ion-toolbar>
  </ion-footer>    
    

      


</ion-content>

