<!-- <div class="buttons-container" style="position: " >
  <ion-button> {{"STEP"|translate}}   <ion-icon name="arrow-dropright"></ion-icon>  </ion-button>

</div> -->


<ion-header >
  <div  >
   </div>
  <ion-toolbar>
  <div> 
   
     <ion-button float-right style="margin-top: 10px;"> <ion-icon name="arrow-dropright" ></ion-icon>  </ion-button>
      
  <img src="../../assets/img/logo/c.png" height="200px" alt="">
  <!-- <ion-button (click)="gohome()"> {{"STEP"|translate}}   <ion-icon name="arrow-dropright"></ion-icon>  </ion-button> -->
  
</div>


</ion-toolbar>
</ion-header>    

 <ion-content force-overscroll="false" >

  <!-- <gl-background-video width="90%" height="90%" src="assets/background-video/video.mp4" poster="assets/background-video/background-video-image.png"></gl-background-video> -->
 <!-- <div style="background-image: url('https://i.ibb.co/9qN0GKH/anshu-a-y-AXbfq1w-I7-I-unsplash.jpg');width : 100% ; height: 100%;"> -->
  <!-- <div style="background-image: url('https://i.ibb.co/LvLY9Rs/bg.jpg');width : 100% ; height: 100%;"> -->
    <!-- <div style="background-image: url('https://i.ibb.co/mCGDbT9/josue-ladoo-pelegrin-Ay1-GXus-QSU8-unsplash.jpg');width : 100% ; height: 100%;"> -->
      <div style="background-image: url('https://i.ibb.co/DDy71z0/anshu-a-o-Jdsl8-Xn4-W0-unsplash.jpg');width : 100% ; height: 100%;">

      



<!-- 
  <div class="row">
    <div class="col col-33 col-center">
    </div>
  </div> -->

    <!-- <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    
    </div> -->

  <!-- <div class="page-centered-element" style="bottom: 20;">
  
    <div class="buttons-container" >
      <ion-button> {{"STEP"|translate}}   <ion-icon name="arrow-dropright"></ion-icon>  </ion-button>

    </div>
  </div>
    <!-- <div class="content"> 
      <h1>Welcome</h1>
      <h5>COVID-ASSIST</h5>
      <div class="buttons-container">
        <ion-button>GO</ion-button>
      </div>
      
    </div>
  </div> -->
  <div class="spinner" >
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div> 
</ion-content>


  <ion-footer  >  
    

    <ion-toolbar>
      <img src="../../assets/img/1.png" width="25%"> 
      <img src="../../assets/img/2.png"  width="25%">   
      <img src="../../assets/img/3.png" width="25%"> 
      <img src="../../assets/img/5.png" width="25%">    
          
    </ion-toolbar>
  </ion-footer>    
    

      



