

<ion-tabs >
  <ion-tab-bar slot="bottom" style="overflow: auto; justify-content: flex-start;">
    <ion-tab-button tab="tab1">
      <ion-icon name="people"></ion-icon>
      <ion-label>{{"CONVERSATION.title" |  translate}}</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button> -->
<!-- 
    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab4">
      <ion-icon name="planet"></ion-icon>
      <ion-label>{{"NEWS.title" |  translate}}</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab5">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{"BEST PRACTICES.title" |  translate}}</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab6">
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-label>{{"GAMES.title" |  translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab7">
      <ion-icon name="book"></ion-icon>
      <ion-label>{{"SUGGESTIONS.title" |  translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="testcovid">
      <ion-icon name="help-buoy"></ion-icon>
      <ion-label>{{"TEST YOURSELF.title" |  translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quiz">
      <ion-icon name="help"></ion-icon>
      <ion-label>{{"QUIZ.title" |  translate}}</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>