<ion-header>
  <ion-toolbar color="primary">
    
      <!-- -->
      <ion-list-header>
      <ion-title style="color:white">{{"CONVERSATION.title" | translate }}</ion-title> 
      <ion-item style="margin-right: 10px;">
        <ion-label>{{"CONVERSATION.chose" | translate }}</ion-label>
        <ionic-selectable
          item-content 
          [(ngModel)]="port"
          [items]="ports"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="portChange($event)">
          <ng-template ionicSelectableItemEndTemplate let-port="item" let-isPortSelected="isItemSelected">
            <img class="country-flag" [src]="port.src" width="30" height="20" />
          </ng-template>
        </ionic-selectable>
      </ion-item>
     
      </ion-list-header>


   

    </ion-toolbar>
  </ion-header>
<ion-content class="bg">
  
  <ion-list lines="none" class="app-list">
  
    <ion-item 
     (click)="showConversationPage()">
      <img src="../../assets/img/chatbot.jpg" style="margin-top : 10em;">
      </ion-item>
    <ion-item style="text-align: center;color :salmon">
      <button  (click)="showConversationPage()" ion-button full style="width:100%;height : 50px ;">
      
      
      <ion-icon name="chatboxes"></ion-icon>
             {{ "CONVERSATION.CLICK" | translate }}
      </button> 
    
    </ion-item>
  
  </ion-list>

</ion-content>
