<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
          <ion-title>COVID-ASSIST</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>



        <ion-list >
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tabs/tab1" routerDirection="forward">
                <ion-icon name="chatboxes" slot="start"></ion-icon>
                {{"CONVERSATION.title" | translate}}
            </ion-item>
          </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/tab4" routerDirection="forward">
              <ion-icon name="planet" slot="start"></ion-icon>
              {{"NEWS.title" | translate}}
          </ion-item>
        </ion-menu-toggle>
        
     
 
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/tab5" routerDirection="forward">
              <ion-icon name="heart" slot="start"></ion-icon>
              {{"BEST PRACTICES.title" | translate}}

          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/tab6" routerDirection="forward">
              <ion-icon name="logo-playstation" slot="start"></ion-icon>
              {{"GAMES.title" | translate}}

          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/tab7" routerDirection="forward">
              <ion-icon name="book" slot="start"></ion-icon>
              {{"SUGGESTIONS.title" | translate}}

          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/testcovid" routerDirection="forward">
              <ion-icon name="help-buoy" slot="start"></ion-icon>
              {{"TEST YOURSELF.title" | translate}}
              
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/quiz" routerDirection="forward">
              <ion-icon name="help" slot="start"></ion-icon>
              {{"QUIZ.title" | translate}}
          </ion-item>
        </ion-menu-toggle>




        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/tabs/tab8" routerDirection="forward">
              <ion-icon name="planet" slot="start"></ion-icon>
              {{"STAT" | translate}}
          </ion-item>
        </ion-menu-toggle>
        


        </ion-list>



      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>