<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Best Suggestions 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="radio" slot="start"></ion-icon>
      <p>   {{"SUGGESTIONS.1" | translate}}
       
      </p>
      <ion-button fill="outline" slot="end"><a href=" http://radio.garden/visit/teramo/WSwepPmI">View</a></ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-youtube" slot="start"></ion-icon>
      <p>  {{"SUGGESTIONS.2" | translate}}
       
      </p>
      <ion-button fill="outline" slot="end"><a href=" https://robbreport.com/…/14-virtual-museum-to-visit-during…/">View</a></ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="planet" slot="start"></ion-icon>
      <p>       {{"SUGGESTIONS.3" | translate}}
       
      </p>
      <ion-button fill="outline" slot="end"><a href="https://www.diyphotography.net/nasa-makes-entire-media-lib…/">View</a></ion-button>
    </ion-item>
  </ion-card>

   
  <ion-card>
    <ion-item>
      <ion-icon name="book" slot="start"></ion-icon>
      <p>    {{"SUGGESTIONS.4" | translate}}

       
      </p>
      <ion-button fill="outline" slot="end"><a href="https://www.bookboon.com">View</a></ion-button>
    </ion-item>
  </ion-card>
    
    
    
  <ion-card>
    <ion-item>
      <ion-icon name="film" slot="start"></ion-icon>
      <p>  
        {{"SUGGESTIONS.5" | translate}}

       
      </p>
      <ion-button fill="outline" slot="end"><a href="https://www.shahid.net">View</a></ion-button>
    </ion-item>
  </ion-card>
    

  <ion-card>
    <ion-item>
      <ion-icon name="school" slot="start"></ion-icon>
      <p>               {{"SUGGESTIONS.6" | translate}}




       
      </p>
      <ion-button fill="outline" slot="end"><a href="https://online-learning.harvard.edu/catalog/free…">View</a></ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="folder-open" slot="start"></ion-icon>
      <p>{{"SUGGESTIONS.7" | translate}}



       
      </p>
      <ion-button fill="outline" slot="end"><a href="https://opportunitiescorners.info/british-council-free-online-courses-2020/?fbclid=IwAR0RgjTu4D7-stpJ6peSqy4YsK3ZSlA515AWN0xy3cvcJ5Zj0sRXScy3fIk">View</a></ion-button>
    </ion-item>
  </ion-card>
  
    
  <ion-card>
    <ion-item>
      <ion-icon name="logo-youtube" slot="start"></ion-icon>
      <p> {{"SUGGESTIONS.8" | translate}}      </p>
      <ion-button fill="outline" slot="end"><a href="https://www.youtube.com/watch?v=fifH4oGDKXQ">View</a></ion-button>
    </ion-item>
  </ion-card>
  
    
  <ion-card>
    <ion-item>
      <ion-icon name="at" slot="start"></ion-icon>
      <p> {{"SUGGESTIONS.9" | translate}}

       
      </p>
      <ion-button fill="outline" slot="end"><a href="https://www.worldometers.info/coronavirus/?fbclid=IwAR2HY3Y8Ohz8y5eP0Y9v_ZJ1mFKh76vf-0J8CIAT6X-pOXF9pnSdL_cHNQw#countries">View</a></ion-button>
    </ion-item>
  </ion-card>

    

</ion-content>
